body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.zoho-section {
    background: #0060b4;
    padding: 120px 0 134px;
}

.zoho-section h1 {
    font-size: 3rem;
}

.zoho-section h2 {
    font-size: 2rem;
    font-weight: bold;
}

.zoho-section p {
    font-size: 1.2rem;
}

.zoho-section .btn {
    padding: 1rem 2rem;
    border-radius: 2px;
}

.count {
    font-size: 45px;
    width: 130px;
    letter-spacing: 0.1rem;
}

@media screen and (min-width: 768px) {
    .count-txt {
        width: 90px;
    }
    
    .zoho-section::after {
        content: "";
        background-image: url(https://www.zohowebstatic.com/sites/zweb/images/zoho_general_pages/made-au-bg.png);
        background-repeat: no-repeat;
        background-size: 80%;
        width: 60%;
        opacity: 1;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0px;
        background-position: right bottom;
    }
    
    .stat-data::after {
        content: "";
        background: #3b8ecc;
        height: 1px;
        width: 100%;
        float: left;
        margin-top: 6px;
    } 
}

@media screen and (max-width: 767px) {
    .zoho-section h1 {
        font-size: 2.4rem;
    }

    .zoho-section p {
        font-size: 1rem;
    }

    .zoho-section .btn {
        padding: 0.75rem 1.5rem;
    }

    .count {
        font-size: 35px;
        width: 100px;
    }
}

/* section-2 */

.core-values {
    margin-top: 10vh;
    background-color: #f8f9fa;
    padding: 4rem 0;
}

.core-values .card {
    background-color: transparent;
}

.core-values .card-body img {
    width: 50px;
    height: 50px;
}

.core-values .card-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.core-values .card-text {
    font-size: 1rem;
    color: #6c757d;
}

.core-values .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}
